bt_spy.ini
bt_spy.pro.user.*
bt_spy.pro.user

# recursively ignore build folders in the tree
build/

# recursively ignore all GeneratedSource folders contents
GeneratedSource/

__pycache__/

# MT 3.0 mtbquery file, ignore
.mtbqueryapi
